<h1>Sign in </h1>
 <%= link_to 'Sign In with Github', '/auth/github' %><br>
 <%= link_to 'Sign In with Google', '/auth/google_oauth2' %><br>
 <%= link_to 'Sign In with Twitter', '/auth/google_oauth2' %>

<ul>
  <li>instagram</li>
</ul>
