<h1>Hi <%=@user.username%>! You're logged in using
  <% if @user.provider %>
    <%=@user.provider.capitalize %>
  <% end %> </h1>
<ol>
  <% @podcasts.each do |p| %>
    <li><%= p.name %></li>
  <% end %>
</ol>
